$whitefont: hsl(0, 0%, 100%);
$smallfont: 0.85rem;

.Profile {
    .Profile__Name {
        color: $whitefont;
        font-size: 1.5rem;
    }

    .Profile__Location {
        color: hsl(75, 94%, 57%);
        margin: 0.5rem;
        font-size: $smallfont;

    }



    .Profile__Bio {
        color: $whitefont;
        font-size: $smallfont;
    }
}